.navbar-nav .nav-link{
    color: white !important;
}
.navbar-nav .nav-link:hover {
    background-color: black;
    color: white !important;
    
}
.about__section1{
    display: flex;
    margin-top: 5px;
}

.about__section2{
    display: flex;
}
.navbar-expand-lg{
    background-color: #2F4F4F !important;
    
}
@media screen and (max-width: 600px) {
    .about__section1{
        display: block;
        text-align: center;
    } 
    .about__section2{
        display: block;
        text-align: center;
    } 
}