body{
    font-family: 'Arimo', sans-serif;;
}
.navbar-expand-lg{
    background-color: #2F4F4F !important;
    
}
.navbar-nav .nav-link{
    color: white !important;
}
.navbar-nav .nav-link:hover {
    background-color: black;
    color: white !important;
    
}
.address_container{
    display: flex;
    justify-content: space-around;
}
.social__meida__container .fa-brands{
    font-size: 30px;

}

.contact__message{
    border: 2px solid blue;
    padding: 20px 40px;
}

@media screen and (max-width: 600px){
    .address_container{
        display: block;
    }
}