
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav .nav-link{
    color: white !important;
}
.navbar-nav .nav-link:hover {
    background-color: black;
    color: white !important;
    
}
.carousel-caption{
    top: 0px !important;
    left: 0 !important;
    padding: 10% 25% 0% 0%;
}

.home-widget-area .card:hover{
    background-color: aqua;
    color: white;
    transition: background-color 0.9s ease;
}
.navbar-expand-lg{
    background-color: #2F4F4F !important;
    
}
.second-home-widget-area hr{
    color: black;
    border: 2px solid black;
    width: 20%;
    margin: 20px;
}

.third-home-widget-area{
    width: 100%;

    background-color: chocolate;
}
.third-home-widget-area h2{
    text-align: center;
    padding: 50px 10px;
    color: white;
}

.footer__section .left-side-footer a{
    text-decoration: none;
    color: aliceblue;

}
.footer__section .right-side-footer i{
    padding: 10px;
    background-color: #808080;
    border-radius: 50%;
}

@media screen and (max-width: 600px){
    .navbar .navbar-expand-lg{
        display: block !important;
    }
}