.navbar-expand-lg{
    background-color: #2F4F4F !important;
    
}
.navbar-nav .nav-link{
    color: white !important;
}
.navbar-nav .nav-link:hover {
    background-color: black;
    color: white !important;
    
}
.packages__container .packages__text__container{
    display: flex;

}
@media screen and (max-width: 600px){
    .packages__container .packages__text__container{
        display: block;
        text-align: center;
    
    }

}